.main {
	text-align: center !important;
	padding-bottom: 20px;
}
.btn {
	margin-top: 10vh;
}
.btndiv {
	display: flex;
	justify-content: space-between;
}
.btnEnd{
	text-align: end;
}

.fullWidth {
	max-width: 100%;
	max-width: initial;
}
.flex {
	display: flex;
}
