.wrapper {
    margin: 0 auto;
}
.companyList {
    margin:0 auto;
    border:1px black solid
}
.companyListItem {
    padding: 1vh;
    border:1px black solid
}
.companyListItem:hover{
    background-color: blanchedalmond;
}
.companyListItem:focus{
    background-color: blanchedalmond;
}
.buttonToTheRight {
    display: flex;
    justify-content: space-between;
}